* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    height: 100vh;
    font-family: serif;
    font-size: 18px;
    color: #000;
    background-image: url(../assets/10-polygon-white-part-4-_-textures-on-creative-market-art-ppt.jpeg);
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
._container {
    margin: 0 auto;
    max-width: 1200px;
}
@import url(./labyrinth.scss);
@import url(./cell.scss);
@import url(./path.scss);