.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(190, 74, 190);
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}